* {
    box-sizing: border-box;
    margin: 0px;
    font-family: var(--font);
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

:root {
    --font: "DM Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
